fastapi
uvicorn[standard]
llama-index==0.12.52
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
faiss-gpu
transformers
huggingface_hub
torch
httpx
numpy>=1.24,<2